
/* FA-877 - Fix component widths in the data grid with prefix/sufix. */
.input-group {
    width: 100%;
}
.form-field-type-datagrid .input-group {
    width: auto;
}

.form-field-type-datagrid .form-group {
    margin-bottom: 0;
}

.form-field-type-datagrid .datagrid-table {
    margin-bottom: 0px;
}

.form-field-type-datagrid .datagrid-add {
    margin-bottom: 20px;
}

.form-field-type-datetime .input-group,
.form-field-type-datetime .input-group-btn {
    width: 100%;
}
.form-field-type-datetime .input-group-btn {
    width: auto;
}

.m-signature-pad {
    border: 1px solid #e8e8e8;
    background-color: #F5F5EB;
    border-radius: 4px;
}

.has-error .m-signature-pad--body {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.m-signature-pad--body {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 60px;
    border: 1px solid #f4f4f4;
}

.m-signature-pad--body canvas {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

@media screen and (max-width: 1024px) {
    .m-signature-pad {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        min-width: 250px;
        min-height: 140px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
        margin: 10%;
    }
}

@media screen and (max-height: 320px) {
    .m-signature-pad--body {
        left: 0;
        right: 0;
        top: 0;
        bottom: 32px;
    }
}

.formio-signature-footer {
    color: #C3C3C3;
    margin: 0 10px;
    text-align: center;
}

.formio-content-centered {
    text-align: center;
}

.filepicker.dropzone {
    width: 100%;
    position: relative;
    height: auto;
}

.dz-default.dz-message {
    text-align: center;
    border-style: dashed;
    border-width: 2px;
    border-color: #666;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0px;
}

.formio-dropzone-default-content {
    width: 100%;
    height: auto;
    border-style: dashed;
    border-width: 2px;
    border-color: #666;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

.formio-dropzone-margin {
    margin: 10px 0;
}

.formio-dropzone-error-content {
    width: 100%;
    height: auto;
    background-color: #E99002;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
}

.formio-dropzone-table {
    width: 1%;
    white-space: nowrap;
}

.progress-bar {
    float: left;
    width: 0;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    margin-bottom: 10px;
}

.dz-drag-hover > .dz-default.dz-message {
    border-color: #127abe;
}

.rw-list-option {
    height: 1.8em;
}

.field-required:after {
    color: red;
    content: " *";
}

.field-required-inline {
    color:red;
    z-index: 5;
}

.quill {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ddd;
}

.time-picker-component .react-date-picker__month-view-row,
.time-picker-component .react-date-picker__basic-month-view-row {
  display: none;
}

